@charset "utf-8";


// ---- VARIABLES --------------------------------------------------------------

$unit: 16px;

$color-off-black: rgb(64, 64, 64);
$color-white: rgb(255, 255, 255);

$image-background: 'http://lh4.googleusercontent.com/-WKmRU-FgRSk/UUBiBd1FGFI/AAAAAAAAHGg/ffNsLBJNCV8/s2560/IMG_20120715_150549.jpg';


// ---- MIXINS -----------------------------------------------------------------

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

// ---- GLOBAL STYLES ----------------------------------------------------------


* {
	box-sizing: border-box;
}

html {
	font: $unit Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	color: $color-off-black;
}

body {
	margin: 0;
}

section {
	width: 100vw;
	min-height: 100vh;
}

.reveal {
	background: fixed black;
	background: fixed url($image-background) 50% 50% / cover no-repeat;
}

.reveal__text {
	position: fixed;
	right: $unit * 2;
	top: $unit * 2;
	margin: 0;
	font-size: $unit * 5;
	font-weight: 200;
	line-height: 1;
	text-align: right;
	color: $color-white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

	span {
		display: block;
		font-size: $unit * 8.5;
		text-transform: uppercase;
	}

	@include mobile {
		font-size: $unit * 2.5;

		span {
			font-size: $unit * 4.3;
		}
	}
}

.about {
	position: relative;
	z-index: 2;
	background: $color-white;
}

.about__arrow {
	position: absolute;
	left: 0;
	top: - $unit * 7;
	width: 100%;
	font-size: $unit * 5;
	text-align: center;
	color: $color-white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	transform: rotate(90deg) translateX(-$unit);
	transition: transform 0.2s ease, color 0.2s linear;
	cursor: pointer;
}

.about__text,
.about__comments {
	float: left;
	width: 50%;
	padding: $unit  * 2;

	@include mobile {
		width: auto;
		float: none;
	}
}

.about__text {
	font-size: $unit * 1.5;
	font-weight: 300;

	p:first-child {
		margin-top: 2px;
	}

	@include mobile {
		font-size: $unit * 1.2;
	}
}
