@charset "utf-8";


// ---- VARIABLES --------------------------------------------------------------

$unit: 16px;

$color-dark: rgb(64, 64, 64);
$color-light: rgb(255, 255, 255);

$image-background: 'https://lh6.googleusercontent.com/-RSzZK43eJio/VBLGCvIa01I/AAAAAAAAIfY/m4w4Om0zHW4/w891-h659-no/IMG_20140912_105346.jpg';


// ---- GLOBAL STYLES ----------------------------------------------------------


* {
	box-sizing: border-box;
}

html {
	font: $unit Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	color: $color-dark;
	overflow: hidden;
}

body {
	margin: 0;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.reveal {
	// background: fixed url($image-background) 50% 50% / cover no-repeat;
	background: fixed silver;
}

.reveal__text {

}

.about {
	background: $color-light;
	transform: translateY(100%);
	transform: translate3d(0, 100%, 0);
	transition: transform 0.2s ease;

	html.scrolled & {
		transform: translateY(0);
		transform: translate3d(0, 0, 0);
	}

	&::before {
		content: '➵';
		left: 0;
		bottom: $unit;
		width: 100%;
		color: $color-light;
		font-size: $unit * 5;
		text-align: center;
		transform: rotate(90deg);
		transition: transform 0.2s ease, color 0.2s linear;
		cursor: pointer;
	}
}

.about__text {
	float: right;
	height: 0;
	margin-right: 50%;
	max-width: 200px;
}

.about__comments {
	float: left;
	height: 0;
	margin-left: 50%;
	max-width: 200px;
}
